<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
 This is my little program using Ruby on Rails. This site will function like twitter and I might even allow the general public to have fun with it.
</p>