<div class="center hero-unit">
  <h1>Welcome to Deshi's world!</h1>

  <h2>
 This is my first rails application. You may use it all you like.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>